body{
  /* text */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: none;
  font-weight: normal;

  /* canvas */
  background-color: seagreen;
  background-image: none;

  /* spacing */
  margin:0;
  padding:10% 20% 300px 40%;
}

.content{
    padding: 15px 50px 15px 50px;
}

#recycle{
  border-bottom: 1px solid seagreen;
  background-color: seagreen;
  color:blue;
}
#recycle{
  border-bottom: 1px solid seagreen;
  background-color: seagreen;
  color:blue;
}

h1,h2,p{
  color: silver;
  text-align: left;
  text-decoration: none;
  text-transformation: none;
  font-size: 2em;
  line-height: 4em;
  letter-spacing: 2px;
  font-weight: bold;
}
h3,p{
  color: darkblue;
  text-align: left;
  text-decoration: none;
  text-transformation: none;
  font-size: 2em;
  line-height: 4em;
  letter-spacing: 2px;
  font-weight: none;
}

p{
  font-size: 1em;
  line-height: 1.25em;
  font-style: italic;
}

ul{
  list-style-type: square;
}

div{
  display: block;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: seagreen;
  width: 300px;
  height: 150px;
}
