h1 {
  font-size: 50px;
  font-family:fantasy;
  text-align: center;
color: white;
}

h2
{
  font-size: 30px;
  font-family:fantasy;
  text-align: center;
  color: grey;
}
h5 {
  text-align: right;
}

/* Style the top navigation bar */
.topnav {
overflow: hidden;
background-color: #333;
}

/* Style the topnav links */
.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div {
  font-size: 17px;
  text-align:justify;
  font-family:monospace;
}

p {
  font-family:fantasy;
  font-size: 30px;
text-align: center;
}

h4
{font-size: 30px;
color: black;
font-family: fantasy;
}

/* Create three equal columns that floats next to each other */
.column2 {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
