h1 {
  
  font-family:monospace;
  text-align: center;

}

h2
{
  font-size: 17px;
  text-align: center;

}
h5 {
  text-align: right;
}

#header{

  font:monospace;
}



img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div {
  font-size: 17px;
  text-align:justify;
  font-family:monospace;
}

p {
  font-family:fantasy;
  font-size: 30px;
text-align: center;
}

h4
{font-size: 30px;
color: black;
font-family: fantasy;
}

/* Create three equal columns that floats next to each other */
.column2 {
  float: left;
  width: 33.33%;
  padding: 15px;
} s

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
